@model TicketViewModel

<div class="row mb-2">
    <div class="col-md-2">
        <label asp-for="CurrentTicket.StatusId" class="form-label">Status:</label>
    </div>
    <div class="col-md-4">
        <select asp-for="CurrentTicket.StatusId" class="form-select" asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name"))"></select>
    </div>
    <div class="col-md-6">
        <span asp-validation-for="CurrentTicket.StatusId" class="text-danger"></span>
    </div>
</div>