@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Attribute Routing</title>
    </head>
    <body>
        <h1>Attribute Routing</h1>
    </body>
</html>