@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>Default Routing</title>
    </head>
    <body>
        <h1>Default Routing</h1>
        <p><a href="/Admin/home/staticcontent/Page/20">Custom Routing Link</a></p>
        <p><a href="/attr-routing">Attribute Routing Link</a></p>
    </body>
</html>