@{
    ViewData["Title"] = "Assignment 6.1";
}

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select an Access Level
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="1">1</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="2">2</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="3">3</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="4">4</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="5">5</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="6">6</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="7">7</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="8">8</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="9">9</a></li>
        <li><a class="dropdown-item" asp-controller="Student" asp-action="List" asp-route-id="10">10</a></li>
    </ul>
</div>