@model TicketViewModel

<h2>New Ticket</h2>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Add" method="post">
    <div class="mb-3">
        <label asp-for="CurrentTicket.Name" class="form-label">Name:</label> <input asp-for="CurrentTicket.Name" class="form-control">
    </div> <div class="mb-3">
        <label asp-for="CurrentTicket.Description" class="form-label">Description:</label> <input asp-for="CurrentTicket.Description" class="form-control">
    </div> <div class="mb-3">
        <label asp-for="CurrentTicket.SprintNumber" class="form-label">Sprint Number:</label> <input asp-for="CurrentTicket.SprintNumber" class="form-control">
    </div> <div class="mb-3">
        <label asp-for="CurrentTicket.PointValue" class="form-label">Point Value:</label> <input asp-for="CurrentTicket.PointValue" class="form-control">
    </div> <div class="mb-3">
        <label asp-for="CurrentTicket.StatusId" class="form-label">Status:</label> <select asp-for="CurrentTicket.StatusId" class="form-select" asp-items="@(new SelectList(Model.Statuses, "StatusId", "Name"))">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button> <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>