@model TicketViewModel

<h2>New Ticket</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Add" method="post">
    <div class="row mb-2">
        <div class="col-md-2">
            <label asp-for="CurrentTicket.Name" class="form-label">Name:</label>
        </div>
        <div class="col-md-4">
            <input asp-for="CurrentTicket.Name" class="form-control">
        </div>
        <div class="col-md-6">
            <span asp-validation-for="CurrentTicket.Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2">
            <label asp-for="CurrentTicket.Description" class="form-label">Description:</label>
        </div>
        <div class="col-md-4">
            <input asp-for="CurrentTicket.Description" class="form-control">
        </div>
        <div class="col-md-6">
            <span asp-validation-for="CurrentTicket.Description" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2">
            <label asp-for="CurrentTicket.SprintNumber" class="form-label">Sprint Number:</label>
        </div>
        <div class="col-md-4">
            <input asp-for="CurrentTicket.SprintNumber" class="form-control">
        </div>
        <div class="col-md-6">
            <span asp-validation-for="CurrentTicket.SprintNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-2">
            <label asp-for="CurrentTicket.PointValue" class="form-label">Point Value:</label>
        </div>
        <div class="col-md-4">
            <input asp-for="CurrentTicket.PointValue" class="form-control">
        </div>
        <div class="col-md-6">
            <span asp-validation-for="CurrentTicket.PointValue" class="text-danger"></span>
        </div>
    </div>
    <vc:status-dropdown model="Model"></vc:status-dropdown>
    <button type="submit">Add</button> <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>